n8n_browserless_heatmap_workflow.json
{
  "name": "Capture TradingView Heatmap via Browserless",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture_heatmap",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Receive Heatmap Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "capture_heatmap"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/screenshot",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_BROWSERLESS_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": {{ $json.body.url }},\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"png\"\n  },\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle0\"\n  },\n  \"waitFor\": 3000\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "browserless-node",
      "name": "Browserless Screenshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "respond-node",
      "name": "Return Image to Replit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Receive Heatmap Request": {
      "main": [
        [
          {
            "node": "Browserless Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Screenshot": {
      "main": [
        [
          {
            "node": "Return Image to Replit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T04:00:00.000Z",
  "versionId": "1"
}
